# Cex runtime cache & active states
.cex_cache/
.cex_active_runtime

# Binaries and build outputs
bin
bin/
**/bin
**/bin/
*.bin
*.out
# Rule 69: target is runtime, do not use .gitignore for dist bundle file (keep dist/ with download of cxvm cross platforms)

# Modular box cache (.cex_boxes & cex_boxes)
.cex_boxes
.cex_boxes/
**/.cex_boxes
**/.cex_boxes/
cex_boxes
cex_boxes/
**/cex_boxes
**/cex_boxes/

# Native compiled artifacts
*.o
*.obj
*.so
*.dylib
*.a

# OS & Logs
.DS_Store
*.log
packages/*